<div class="container" style="font-family: Calibri;font-size: 12pt;">

    <p>Madame, Monsieur,</p>

    <p>Comme convenu, suite à votre demande sur le site www.{{ origin.url }}, nous vous contacterons rapidement.
    </p>

    <p>Merci de nous <u>communiquer des coordonnées téléphoniques</u>
        pour vous joindre facilement en journée (9h00 -
        19h00) </p>

    <p>Nous vous remercions pour l'intérêt que vous portez au site {{ origin.name }}.</p><br />

    <p>Cordialement.</p><br />


    <div style="font-size: 11pt">
        <p><b><span style="color:#cd4142;">{{ origin.name }}</span></b>,<br></p>

        <p> Laurent Cohen<br>
            Responsable Commercial<br>
            Diplômé du Master II en Gestion de Patrimoine - Paris II / Assas</p>

        <ul style="margin:0;padding:10px;list-style:none;">
            <li>.Membre de l\'Organisme pour le Registre des Intermédiaires en Assurance (Orias) n° 15003621</li>
            <li>.Membre de l\'Association Nationale des Conseils Financiers (Anacofi)</li>
            <li>.Membre des Conseil en Investissement Financier (Cif) n° 15003621</li>
            <li>.Carte Transaction Immobilier n° 791 634 264</li>
            <li>.RCS : Nanterre 791634264</li>
        </ul>

        <p>
            41 av Georges Pompidou<br>
            92.300 Levallois Perret<br>
            Tél. : 06 50 79 29 79<br>
            Tél. : 09 52 79 53 10 (service commercial) <br>
            Tél. : 09 51 70 15 49 (service marketing)<br>
            Fax : 09 56 70 15 49<br>
            Mail : l.cohen@leguidedupatrimoine.com</p>

        <p>
            www.leguidedupatrimoine.com<br>
            www.girardin-industriel.info<br>
            www.scpi.pro</p>
        <br>

        <p>Document non contractuel n'engageant pas responsabilité du site www.{{ originUrl }}, la SARL Laurent
            Cohen ou Laurent Cohen.<br>
            Nous vous rappelons que Les performances passées ne préjugent pas des performances futures.</p>
    </div>

</div>